<ion-header>

  <ion-toolbar class="new-bg-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
      
    </ion-buttons>
    
    <ion-title>Resto-Bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Select Menu
    </ion-list-header>
  
    <ion-item (click)="subMenu(x)" *ngFor="let x of displayMenu">
      <ion-avatar slot="start">
        <img src="{{ x.image }}">
      </ion-avatar>
      <ion-label>
        <h2>{{ x.name }}</h2>
        <!-- <h3>I'm a big deal</h3> -->
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
  
  </ion-list>
</ion-content>



<ion-footer>

    <ion-title>Items : 0</ion-title>
    <ion-button slot="end" color="primary">Place Order</ion-button>
  

  
</ion-footer>